<!DOCTYPE html>
<html>
<head>
    <title></title>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>


</head>
<body>
<h1> Ivy Sense </h1>

<h2>About</h2>

<p> This meetup app's ultimate function is to connect people with similar interests and backgrounds and place them in meetup groups. The app will habitually suggest meetup locations and events that cater to the group’s interests. People can always leave the group as well as invite other people that they know to join the group. 

</p>


</body>
</html>