<!DOCTYPE html>
<html>
<head>
    <title></title>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>


</head>
<body>
<h1> Click</h1>

<h2>About</h2>

<p> Click's  mission is to connect people with similar interests and backgrounds and place them in meetup groups. Click will habitually suggest relevant meetup locations and events that cater to the group’s interests. People can always leave the group as well as invite other people that they know to join the group. 

</p>

<p> Click separates itself from its competitors  by doing the legwork for you. All you have do is select your interests and Click does the rest. Additionaly, Click lives by the philosophy that connections and friendships are not only mediated by common interests but also by a shared history and similar backgrounds. </p>



<p> Ultimately Click was created to faciliate new connections and encourage social discourse between individuals with shared interests and common history, whom might not have ever met each other, otherwise. 


</body>
</html>